<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.0.0" targetFramework="net461" />
  <package id="Fody" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="KeystrokeAPI" version="1.0.6.4" targetFramework="net461" />
</packages>